{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
	<title>{{ sub_title }} | SUCARDIO</title>
	<!-- [Meta] -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{% comment %}
	<link rel="icon" href="../assets/images/favicon.svg" type="image/x-icon" />
	{% endcomment %}
	<link rel="stylesheet" href="{% static 'assets/fonts/inter/inter.css' %}" id="main-font-link" />
	<link rel="stylesheet" href="{% static 'assets/fonts/tabler-icons.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/fonts/feather.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/fonts/fontawesome.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/fonts/material.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" id="main-style-link" />
	<link rel="stylesheet" href="{% static 'assets/css/style-preset.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/jquery-confirm.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}" />
	{% block link %} {% endblock %}
</head>

<body>
	<nav class="pc-sidebar">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="#" class="b-brand text-primary">
					<!-- ========   Change your logo from here   ============ -->
					<img src="{% static 'img/logo2.png' %}" width="150px" height="90px" />
				</a>
			</div>
			<div class="navbar-content">
				<div class="card pc-user-card">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1 ms-3 me-2">
								<h6 class="mb-0">{{request.user.get_full_name}}</h6>
								<!-- <small>titulo</small> -->
							</div>
							<a class="btn btn-icon btn-link-secondary avtar-s" data-bs-toggle="collapse"
								href="#pc_sidebar_userlink">
								<svg class="pc-icon">
									<use xlink:href="#custom-sort-outline"></use>
								</svg>
							</a>
						</div>
						<div class="collapse pc-user-links" id="pc_sidebar_userlink">
							<div class="pt-3">
								<a href="#!">
									<i class="ti ti-user"></i>
									<span>Mi cuenta</span>
								</a>
								<a href="#">
									<i class="ti ti-settings"></i>
									<span>Cambiar contraseña</span>
								</a>
								<a href="{% url 'logout' %}">
									<i class="ti ti-power"></i>
									<span>Cerrar</span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<ul class="pc-navbar">

					<li class="pc-item">
						<a href="#" class="pc-link">
							<span class="pc-micon">
								<svg class="pc-icon">
									<use xlink:href="#custom-home"></use>
								</svg>
							</span>
							<span class="pc-mtext">Inicio</span>
						</a>
					</li>

					<li class="pc-item pc-caption">
						<label>SECCION MEDICA</label>
						<i class="ti ti-chart-arcs"></i>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link">
							<span class="pc-micon">
								<svg class="pc-icon">
									<use xlink:href="#custom-element-plus"></use>
								</svg>
							</span>
							<span class="pc-mtext">Citas y Medicos</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item">
								<a href="{% url 'listado_medico' %}" class="pc-link">
									<span class="pc-mtext">Medicos</span></a>
							</li>
							<li class="pc-item">
								<a class="pc-link" href="../forms/form_floating.html">Citas</a>
							</li>
						</ul>
					</li>
					<li class="pc-item pc-caption">
						<label>SECCION ANUNCIOS</label>
						<i class="ti ti-chart-arcs"></i>
					</li>
					<li class="pc-item">
						<a href="#" class="pc-link">
							<span class="pc-micon">
								<svg class="pc-icon">
									<use xlink:href="#custom-presentation-chart"></use>
								</svg>
							</span>
							<span class="pc-mtext">Anuncios</span></a>
					</li>
					<li class="pc-item pc-caption">
						<label>SECCION SERVICIOS</label>
						<i class="ti ti-chart-arcs"></i>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link">
							<span class="pc-micon">
								<svg class="pc-icon">
									<use xlink:href="#custom-element-plus"></use>
								</svg>
							</span>
							<span class="pc-mtext">Servicios y Presupuesto</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item">
								<a href="#" class="pc-link">
									<span class="pc-mtext">Servicios</span></a>
							</li>
							<li class="pc-item">
								<a class="pc-link" href="#">Presupuestos</a>
							</li>
						</ul>
					</li>
					<li class="pc-item pc-caption">
						<label>SECCION USUARIOS</label>
						<i class="ti ti-chart-arcs"></i>
					</li>
					<li class="pc-item">
						<a href="#" class="pc-link">
							<span class="pc-micon">
								<svg class="pc-icon">
									<use xlink:href="#custom-profile-2user-outline"></use>
								</svg>
							</span>
							<span class="pc-mtext">Usuarios</span></a>
					</li>
					<li class="pc-item pc-caption">
						<label>SECCION PAGINA FRONTAL</label>
						<i class="ti ti-chart-arcs"></i>
					</li>
					<li class="pc-item">
						<a href="#" class="pc-link">
							<span class="pc-micon">
								<svg class="pc-icon">
									<use xlink:href="#custom-setting-2"></use>
								</svg>
							</span>
							<span class="pc-mtext">Configuracion</span></a>
					</li>

					<li class="pc-item pc-caption">
						<label>SECCION SISTEMA</label>
						<i class="ti ti-chart-arcs"></i>
					</li>
					<li class="pc-item">
						<a href="#" class="pc-link">
							<span class="pc-micon">
								<svg class="pc-icon">
									<use xlink:href="#custom-setting-outline"></use>
								</svg>
							</span>
							<span class="pc-mtext">Configuracion</span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<header class="pc-header">
		<div class="header-wrapper">
			<div class="me-auto pc-mob-drp">
				<ul class="list-unstyled">
					<!-- ======= Menu collapse Icon ===== -->
					<li class="pc-h-item pc-sidebar-collapse">
						<a href="#" class="pc-head-link ms-0" id="sidebar-hide">
							<i class="ti ti-menu-2"></i>
						</a>
					</li>
					<li class="pc-h-item pc-sidebar-popup">
						<a href="#" class="pc-head-link ms-0" id="mobile-collapse">
							<i class="ti ti-menu-2"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<!-- [ Main Content ] start -->
	<div class="pc-container">
		<div class="pc-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<ul class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="#">SUCARDIO</a>
								</li>
								<li class="breadcrumb-item">
									{{title}}
								</li>
								<li class="breadcrumb-item" aria-current="page">{{sub_title}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			{% block content %}

			{% endblock content %}
		</div>
	</div>
	<!-- [ Main Content ] end -->
	<footer class="pc-footer">
		<div class="footer-wrapper container-fluid">
			<div class="row">
				<div class="col my-1">
					<p class="m-0"><strong>copy.</strong></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Required Js -->
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"
		integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/simplebar.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/fonts/custom-font.js' %}"></script>
	<script src="{% static 'assets/js/config.js' %}"></script>
	<script src="{% static 'assets/js/pcoded.js' %}"></script>
	<script src="{% static 'assets/js/plugins/feather.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery-confirm.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/base.js' %}"></script>
	{% block js %} {% endblock %}
</body>

</html>