{% extends 'landingpage/base.html' %}
{% load static %}


{% block content %}
    <section class="wrapper bg-soft-primary">
        <div class="container pt-5 pb-5 pt-md-10 pb-md-12">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 id="page_title">{{ sub_title }}</h5>
                        <div class="card-tools d-flex justify-content-end">
                    
                            <!-- <select class="form-select form-select-sm w-auto me-4" id="select_filter_list_medicos">
                                <option value="">Selecciona</option>
                                <option value="all">Todos</option>
                                <option value="AC">Habilitados</option>
                                <option value="DE">Deshabilitados</option>
                            </select> -->
                            
                            <a href="{% url 'registrar_mi_presupuesto' %}" class="btn btn-icon btn-primary">
                                Registrar Presupuesto
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Metodo de Pago</th>
                                        <th scope="col">Servicio</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for presupuesto in presupuestos %}
                                    <tr>
                                        <th scope="row">{{presupuesto.id}}</th>
                                        <td>{{presupuesto.metodo_pago}}</td>
                                        <td>
                                            
                                            {% for servicio in presupuesto.servicio.all %}
                                                <span class="badge bg-dark rounded-pill mr-2">{{ servicio }}</span>

                                            {% endfor %}
                                                
                                        </td>
                                        <td>${{presupuesto.total|floatformat:2}}</td>
                                        <td>
                                            <a href="{% url 'detalle_mi_presupuesto' presupuesto.pk %}" class="btn btn-icon btn-sm rounded-pill btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle del presupuesto">
                                                <i class="uil uil-file-alt"></i>
                                            </a>
                                            <a href="{% url 'reporte_detalle_mi_presupuesto' presupuesto.id %}" target="_blank" class="btn btn-icon btn-sm rounded-pill btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Generar PDF">
                                                <i class="uil uil-file-export"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/.card-body -->
                </div>
                <nav class="d-flex pt-5" aria-label="pagination">
                    <ul class="pagination">
                        <li class="page-item">
                            {% if presupuestos.has_previous %}
                                <a class="page-link" href="?page={{ presupuestos.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true"><i class="ti ti-arrow-big-left"></i></span>
                                </a>
                            {% endif %}
                        </li>
                        {% if presupuestos.number|add:'-4' > 1 %}
                            <li class="page-item"><a class="page-link" href="?page={{ presupuestos.number|add:'-5' }}">&hellip;</a></li>
                        {% endif %}
                        
                        {% for i in presupuestos.paginator.page_range %}
                            {% if presupuestos.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                            {% elif i > presupuestos.number|add:'-5' and i < presupuestos.number|add:'5' %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                        
                        {% if presupuestos.paginator.num_pages > presupuestos.number|add:'4' %}
                            <li class="page-item"><a class="page-link" href="?page={{ presupuestos.number|add:'5' }}">&hellip;</a></li>
                        {% endif %}
                        <li class="page-item">
                            {% if presupuestos.has_next %}
                                <a class="page-link" href="?page={{ presupuestos.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true"><i class="ti ti-arrow-big-right"></i></span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                    <!-- /.pagination -->
                </nav>
            </div>
        </div>
        <!-- /.container -->
    </section>
{% endblock content %}
    