{% extends 'landingpage/base.html' %}
{% load static %}


{% block content %}
<section id="snippet-6" class="wrapper bg-soft-green wrapper-border">
    <div class="container pt-5 pt-md-5 pb-5 pb-md-5">
      <h2 class="display-4 mb-6 text-center">Contactanos</h2>

      <div class="row">
        <div class="col-xl-10 mx-auto">
          <div class="card">
            <div class="row gx-0">
              <div class="col-lg-6 align-self-stretch">
                <div class="swiper-slide swiper-slide-next rounded-top rounded-lg-start">
                  <figure class="rounded mb-6"><img src="{% static 'img/address.png' %}" srcset="{% static 'img/address.png' %}" alt=""><a class="item-link" href="{% static 'img/address.png' %}" data-glightbox="" data-gallery="projects-group"><i class="uil uil-focus-add"></i></a></figure>
                </div>
                <!-- /.map -->
              </div>
              <!--/column -->
              <div class="col-lg-6">
                <div class="p-5 p-md-5 p-lg-5">
                  <div class="d-flex flex-row">
                    <div>
                      <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
                    </div>
                    <div class="align-self-start justify-content-start">
                      <h5 class="mb-1">Direccion</h5>
                      <address> Av. 23 de Enero, Local Nº. 94 <br />  Centro, Guanare </address>
                    </div>
                  </div>
                  <!--/div -->
                  <div class="d-flex flex-row">
                    <div>
                      <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
                    </div>
                    <div>
                      <h5 class="mb-1">Telefono</h5>
                      <p>+58 0257-2516170</p>
                    </div>
                  </div>
                  <!--/div -->
                  <div class="d-flex flex-row">
                    <div>
                      <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i> </div>
                    </div>
                    <div>
                      <h5 class="mb-1">E-mail</h5>
                      <p class="mb-0">ucemedcaja@gmail.com</p>
                    </div>
                  </div>
                  <!--/div -->
                </div>
                <!--/div -->
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
{% endblock content %}
    