{% load static %}
<footer class="bg-soft-green">
    <div class="container py-13 py-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <img class="mb-4" src="{% static 'img/logo2.png' %}" alt="" />
            <p class="mb-4">© 2023 SUCARDIO. <br class="d-none d-lg-block" />Todos los derechos reservados.</p>
            <nav class="nav social ">
              <!-- <a href="#"><i class="uil uil-twitter"></i></a>
              <a href="#"><i class="uil uil-facebook-f"></i></a>
              <a href="#"><i class="uil uil-dribbble"></i></a> -->
              <a href="https://instagram.com/clinicasucardio?igshid=MW5sMTBxbDFyemQyNQ=="><i class="uil uil-instagram"></i></a>
              <!-- <a href="#"><i class="uil uil-youtube"></i></a> -->
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title  mb-3">Ponte en contacto</h4>
            <address> Av. 23 de Enero, Local Nº. 94 <br />  Centro, Guanare </address>
            ucemedcaja@gmail.com<br /> +58 0257-2516170
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-3">
          <div class="widget">
            <h4 class="widget-title  mb-3">Más información</h4>
            <ul class="list-unstyled text-reset mb-0">
              <li><a href="{% url 'sobre_nosotros' %}">¿Quienes Somos?</a></li>
              <li><a href="{% url 'contactanos' %}">Contacto</a></li>
              <li><a href="{% url 'listado_anuncios' %}">Anuncios</a></li>
              <!-- <li><a href="#">Condiciones de uso</a></li>
              <li><a href="#">Política de privacidad</a></li> -->
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <div class="col-md-4 col-lg-3">
          <ul class="list-unstyled text-reset mb-0">
              <li><p xmlns:cc="http://creativecommons.org/ns#" >Este trabajo tiene la licencia <a href="http://creativecommons.org/licenses/by-nd/4.0/?ref=chooser- v1" target="_blank" rel="licencia noopener noreferrer" style="display:inline-block;">CC BY-ND 4.0<img style="height:22px!important;margin-left:3px;vertical-align :texto inferior;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text -abajo;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text -abajo;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1"></a></p></li>
            </ul>
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>