{% extends 'landingpage/base.html' %}
{% load static %}


{% block content %}
    <section class="wrapper bg-soft-primary">
        <div class="container pt-10 pb-15 pt-md-14 pb-md-20">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-5 align-items-center">
            <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start order-2 order-lg-0" data-cues="slideInDown" data-group="page-title" data-delay="600">
            <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">SUCARDIO</h1>
            <p>Atencion médica especializada 24 horas al dia</p>

            <div class="d-flex justify-content-center justify-content-lg-start" data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
                {% if not user.is_authenticated %}
                    <span><a class="btn btn-primary rounded me-2" href="{% url 'registrar_mi_usuario' %}">Registrarse</a></span>
                    <span><a class="btn btn-yellow rounded" href="{% url 'ingresar' %}">Ingresar</a></span>
                {% endif %}
            </div>
            </div>
            <!-- /column -->
            <div class="col-lg-7" data-cue="slideInDown">
                <figure><img class="w-auto" src="{% static 'img/layer.png' %}" alt="" /></figure>
            <!-- <figure><img class="w-auto" src="{% static 'assets_landing_page/img/illustrations/i6.png' %}" alt="" /></figure> -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light mb-0">
        <div class="container py-14 py-md-16 pb-md-17">
        <div class="row gx-md-5 gy-5 mt-n18 mt-md-n21 mb-14 mb-md-17">
            <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg card-border-bottom border-soft-green">
                <div class="card-body">
                    <img src="{% static 'img/servicio1.jpg' %}" class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt="" />
                    <a href="https://instagram.com/labsanrafael11?igshid=dGR5ano3Z25seTdx" target="_blank"><h4>Lab Cli San Rafael de la Paz</h4></a>
                    <p class="mb-2">Exámenes de rutina y pruebas especiales.</p>
                </div>
                <!--/.card-body -->
            </div>
            <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg card-border-bottom border-soft-green">
                <div class="card-body">
                <img src="{% static 'img/servicio2.jpg' %}" class="svg-inject icon-svg icon-svg-md text-green mb-3" alt="" />
                <a href="https://instagram.com/ucemed.11?igshid=MWFpdThsZmFqMXB2eQ==" target="_blank"><h4>UCEMED (RAFAEL PARRA BALZA)</h4></a>
                <p class="mb-2">Servicios de atención médica.</p>
                </div>
                <!--/.card-body -->
            </div>
            <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg card-border-bottom border-soft-green">
                <div class="card-body">
                <img src="{% static 'img/servicio3.jpg' %}" class="svg-inject icon-svg icon-svg-md text-orange mb-3" alt="" />
                <a href="https://instagram.com/radiologia_sucardio?igshid=MWxxNHF2em1tNno5cw==" target="_blank"><h4>Unidad de Radiología Digital</h4></a>
                <p class="mb-2">Servicios de Imágenes Radiologicas Digitales.</p>
                </div>
                <!--/.card-body -->
            </div>
            <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg card-border-bottom border-soft-green">
                <div class="card-body">
                <img src="{% static 'img/servicio4.jpg' %}" class="svg-inject icon-svg icon-svg-md text-blue mb-3" alt="" />
                <a href="https://instagram.com/hemodinamia.electrofisiologia?igshid=eTVneThrZjBxbnRo" target="_blank"><h4>Hemodinamia Electrofisiologia</h4></a>
                <p>Unidades Médicas de Hemodinamia y Electrofisiología.</p>
                </div>
                <!--/.card-body -->
            </div>
            <!--/.card -->
            </div>
            <!--/column -->
        </div>

        <!--/.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    <!-- /section -->
    <section class="wrapper bg-light">
        <div class="overflow-hidden">
        <div class="container pb-9 pb-md-14">
            <div class="row">
            <div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto text-center">
                <h3 class="display-4 mb-8">Anuncios</h3>
            </div>
            <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="swiper-container grid-view nav-bottom nav-color mb-14" data-margin="30" data-dots="false" data-nav="true" data-items-md="2" data-items-xs="1">
            <div class="swiper overflow-visible">
                <div class="swiper-wrapper">
                    {% for x in anuncio %}
                    {% if x.imagen %}
                    <div class="swiper-slide">
                        <figure class="rounded"><img src="{{x.imagen.url}}" alt="" /><a class="item-link" href="{% url 'detalle_anuncio_landing' x.pk %}"><i class="uil uil-link"></i></a></figure>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!--/.swiper-wrapper -->
            </div>
            <!--/.swiper -->
            </div>
            <!-- /.swiper-container -->
        </div>
        <!-- /.container -->
        </div>
        <!-- /.swiper-container -->
    </section>
    <!-- /section -->

    <section class="wrapper bg-light mb-6">
        <div class="swiper-container dots-closer blog grid-view mb-8" data-margin="0" data-dots="true" data-items-md="2" data-items-xs="1">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for x in anuncio %}
                        {% if not x.imagen %}
                        <div class="swiper-slide">
                            <div class="item-inner">
                                <article>
                                    <div class="card">
                                        <div class="card-header">
                                            <p>{{x.titulo}}</p>
                                        </div>
                                        <div class="card-body pb-4">
                                            <p>{{x.descripcion}}</p>
                                            <p>Fecha de publicacion: {{x.fecha_publicacion|date:'d/m/Y'}}</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!--/.swiper-wrapper -->
            </div>
        <!-- /.swiper -->
        </div>
        <!-- /.container -->
    </section>

{% endblock content %}
    