{% extends 'landingpage/base.html' %}
{% load static %}


{% block content %}
    <section class="wrapper bg-soft-primary">
        <div class="container pt-5 pb-5 pt-md-10 pb-md-12">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 id="page_title">{{ sub_title }}</h5>
                        <div class="card-tools d-flex justify-content-end">
                    
                            <!-- <select class="form-select form-select-sm w-auto me-4" id="select_filter_list_medicos">
                                <option value="">Selecciona</option>
                                <option value="all">Todos</option>
                                <option value="AC">Habilitados</option>
                                <option value="DE">Deshabilitados</option>
                            </select> -->
                            
                            <a href="{% url 'registrar_cita_cliente' %}" class="btn btn-icon btn-primary">
                                Registrar Cita
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Motivo</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Metodo P.</th>
                                        <th scope="col">Médico</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cita in cita_list %}
                                    <tr>
                                        <th scope="row">{{cita.id}}</th>
                                        <td>{{cita.motivo_consulta|truncatechars:30}}</td>
                                        <td>{{cita.fecha_cita|date:'d-m-Y'}}</td>
                                        <td>{{cita.metodo_pago}}</td>
                                        <td>{{cita.medico.nombre}} {{cita.medico.apellido}}</td>
                                        <td>{{cita.estado}}</td>
                                        <td>
                                            <a href="#" class="btn btn-icon btn-sm rounded-pill btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle de la cita">
                                                <i class="uil uil-file-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/.card-body -->
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
{% endblock content %}
    