{% extends 'landingpage/base.html' %}
{% load static %}

{% block content %}
<section class="wrapper bg-soft-green">
    <div class="container py-10 py-md-10">
      <!--/.row -->
      <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
        <div class="col-lg-7 order-lg-2">
          <figure><img class="w-auto" src="./assets/img/illustrations/i2.png" srcset="./assets/img/illustrations/i2@2x.png 2x" alt=""></figure>
        </div>
        <!--/column -->
        <div class="col-lg-5">
          <h2 class="fs-15 text-uppercase text-line text-primary mb-3">SUCARDIO</h2>
          <h3 class="display-5 mb-7">¿Quienes Somos?</h3>
          <div class="accordion accordion-wrapper" id="accordionExample">
            <div class="card plain accordion-item">
              <div class="card-header" id="headingOne">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Nuestra Historia </button>
              </div>
              <!--/.card-header -->
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                <div class="card-body">
                  <p>
                    Sala de Urgencias Cardiovasculares San Rafael de La Paz (SUCARDIO),
                    C.A, sociedad mercantil inscrita por ante el Registro Mercantil Primero de la
                    Circunscripción Judicial del Estado Portuguesa, registrada en el Tomo 12-A
                    RM410, número 29 del año 2011. Expediente Nº.- 410-825, Rif. J-31671697,
                    es una empresa familiar PRESTADORA DE SERVICIO con más de 11 años de
                    experiencia asumiendo la responsabilidad y el compromiso de prestar un
                    servicio de calidad en pro de la prevención y el tratamiento oportuno de las
                    enfermedades CARDIOVASCULARES, NEUROLÓGICAS, RENALES,

                    METABÓLICAS, entre otras para evitar que el paciente enferme gravemente y
                    deje complicaciones residuales y desenlaces fatales, ahora en alianza
                    estratégica con, UCE, LABORATORIO CLÍNICO SAN RAFAEL DE LA PAZ,
                    IMÁGENES, HEMODINAMICA SUCARDIO, PLAN SALUD, AMBULANCIA
                    ENTRE OTROS,

                    El equipo de cirugía cardiovascular de SUCARDIO, es un equipo con
                    profesionales formados con las mejores competencias para atender todas las
                    patologías de índole cardiovascular: Nuestro equipo médico se ha formado en
                    los mejores centros y universidades del país que son referencia en las
                    patologías que tratamos y en su mayoría los Médicos Especialistas cuentan
                    con Subespecialidades en las distintas áreas.

                    Integramos un equipo multidisciplinario con los más altos estándares de
                    calidad y tecnología para el tratamiento de las enfermedades más complejas.

                    Cada situación clínica la enfrentamos con el mayor compromiso; todo lo
                    que hacemos está enfocado en acompañar a nuestros pacientes y a nuestra
                    comunidad a solucionar sus problemáticas de salud y de mejorar su calidad de
                    vida.
                  </p>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.accordion-collapse -->
            </div>
            <!--/.accordion-item -->
            <div class="card plain accordion-item">
              <div class="card-header" id="headingTwo">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Mision </button>
              </div>
              <!--/.card-header -->
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Ser una empresa de salud integral con atención médica especializada y
                    calidad de servicios, donde la prevención, detección y tratamiento oportuno de
                    las enfermedades cardiovasculares, neurologícas, renales y metabólicas son
                    nuestro principal norte para evitar que el paciente enferme gravemente y deje
                    complicaciones residuales y desenlaces fatales, brindando experiencia en
                    medicina basada en evidencia, con vocación y precios al alcance de todos.
                  </p>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.accordion-collapse -->
            </div>
            <!--/.accordion-item -->
            <div class="card plain accordion-item">
              <div class="card-header" id="headingThree">
                <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Vision </button>
              </div>
              <!--/.card-header -->
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="card-body">
                  <p>
                    Ser una referencia local, estatal y nacional como modelo de servicio
                    confiable, innovador y accesible, preservando y atendiendo la salud, con alto
                    sentido de responsabilidad social, siempre dispuestos a brindarle un servicio

                    profesional y humano, con personal especializado y equipos de alta
                    tecnología, en instalaciones confortables.
                  </p>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.accordion-collapse -->
            </div>
            <!--/.accordion-item -->
          </div>
          <!--/.accordion -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>    
{% endblock content %}
    