{% extends 'base/base_list.html' %}
{% load static %}
    
{% block head_datatable %}
    <h5 id="page_title">{{ sub_title }}</h5>
    <div class="cart-tools">

        <button type="button"class="btn btn-icon btn-light-dark ml-10" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-toggle="tooltip" data-bs-placement="top" title="Reporte de citas del dia">
          <i class="fas fa-file-pdf"></i>
        </button>
        <a href="{% url 'todas_citas' %}" target="_blank" class="btn btn-icon btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Todas las citas">
            <i class="fas fa-file-pdf"></i>
        </a>
    </div>

{% endblock head_datatable %}

    {% block content_datatable %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% endfor %}
    {% endif %}
    <table id="listado" class="table table-striped table-hover table-bordered nowrap">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>¿Control?</th>
                <th>Motivo</th>
                <th>Método P.</th>
                <th>Médico</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Opciones</th>
              </tr>
        </thead>
        <tbody>
            {% for cita in cita_list %}
                <tr>
                    <td>{{ cita.cliente.nacionalidad }}{{cita.cliente.cedula}}</td>
                    <td>{{cita.control_pac|yesno:"Si,No"}}</td>
                    <td>{{cita.motivo_consulta|truncatechars:30}}</td>
                    <td>{{cita.metodo_pago}}</td>
                    <td>{{cita.medico|truncatechars:20}}</td>
                    <td>{{cita.estado}}</td>
                    {% if cita.fecha_cita %}
                        <td>{{cita.fecha_cita|date:'d/m/Y'}}</td>
                    {% else %}
                        <td>---</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'detalle_cita' cita.id %}" rel="detail" class="btn btn-icon btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalle de la cita">
                            <svg class="pc-icon"><use xlink:href="#custom-document-text"></use></svg>
                        </a>
                        <a href="{% url 'editar_cita' cita.id %}" rel="edit" class="btn btn-icon btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar cita">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'det_cita' cita.id %}" target="_blank" class="btn btn-icon btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Generar PDF">
                            <i class="fas fa-file-pdf"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Cliente</th>
                <th>¿Control?</th>
                <th>Motivo</th>
                <th>Método P.</th>
                <th>Médico</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Opciones</th>
            </tr>
        </tfoot>
    </table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reporte de las citas del dia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="" class="form-label">Medicos</label>
        <select name="medico_dia" id="id_report" required class="form-control">
            <option value="">-- Seleccione --</option>
            {% for x in medicos %}
                <option value="{{x.cedula}}">{{x.nombre}} {{x.apellido}}| {{x.especialidad}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
    document.getElementById('id_report').addEventListener('change', function() {
      var selectedValue = this.value;
      window.open(`/reportes/citas-del-dia/${selectedValue}`);
      
    });
  </script>
{% endblock content_datatable %}
