{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block link %}
{% endblock link %}

{% block content %}
<!-- [ Main Content ] start -->
<form action="" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ sub_title }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_nombre">Nombre</label>
                                {{ form.nombre|add_class:'form-control'|attr:'placeholder:Introduzca el nombre' }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_apellido">Apellido</label>
                                {{ form.apellido|add_class:'form-control'|attr:'placeholder:Introduzca el apellido' }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_cedula">Cedula</label>
                                {{ form.cedula|add_class:'form-control'|attr:'placeholder:Introduzca la cedula' }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_telefono">Telefono</label>
                                {{ form.telefono|add_class:'form-control'|attr:'placeholder:Introduzca el telefono' }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_telefono2">Telefono 2</label>
                                {{ form.telefono2|add_class:'form-control'|attr:'placeholder:Introduzca el telefono 2' }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_tipo_usuario">Tipo de usuario</label>
                                <select class="form-select" id="id_tipo_usuario">
                                    <option value="AD">Admin</option>
                                    <option value="ME">Medico</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_fecha_ingreso">Fecha de ingreso</label>
                                {{ form.fecha_ingreso|add_class:'form-control'|attr:'type:date' }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_cargo">Cargo</label>
                                {{ form.cargo|add_class:'form-control'|attr:'placeholder:Introduzca el cargo' }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_horario_inicio">Horario inicial</label>
                                {{ form.horario_inicio|add_class:'form-control'|attr:'type:time' }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_horario_final">Horario final</label>
                                {{ form.horario_final|add_class:'form-control'|attr:'type:time' }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_especialidad">Especialidad</label>
                                {{ form.especialidad|add_class:'form-control'|attr:'placeholder:Introduzca la especialidad' }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="id_direccion">Direccion</label>
                                {{ form.direccion|add_class:'form-control'|attr:'placeholder:Introduzca la direccion'|attr:'rows:4' }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Contrasena</label>
                                {{ form.password1|add_class:'form-control'|attr:'placeholder:Introduzca la contrasena'|attr:'type:password' }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Confirmar Contrasena</label>
                                {{ form.password2|add_class:'form-control'|attr:'placeholder:Confirma la contrasena'|attr:'type:password' }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info mt-2 mb-4">Registrar</button>
                    <a href="#" class="btn btn-dark mt-2 mb-4">Cancelar</a>
                </div>
                
            </div>
        </div>
        <!-- [ form-element ] end -->
    </div>
</form>

{% endblock %}

{% block js %}
{% endblock js %}