{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block link %}
{% endblock link %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            
            <div class="card">
                <div class="row g-0">
                  <div class="col-md-4">
                    {% if anuncio.imagen %}
                    <img src="{{anuncio.imagen.url}}" class="img-fluid rounded-start" alt="...">
                    {% endif %}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h3 class="card-title">{{anuncio.titulo}}</h3>
                      <p class="card-text">{{anuncio.descripcion}}</p>
                      <a class="link-dark" href="{{anuncio.url}}" target="__blank">Ver publicación</a>
                      <p class="card-text">Autor: {{anuncio.autor.nombre}} {{anuncio.autor.apellido}}</p>
                      <p class="card-text">Estado: <strong class="text-muted">{{anuncio.estado}}</strong></p>
                      <p class="card-text">Fecha de publicación: <strong class="text-muted">{{anuncio.fecha_publicacion|date:'d-m-Y'}}</strong></p>
                      <p class="card-text">Ultima actualización: <strong class="text-muted">{{anuncio.fecha_actualizacion|date:'d-m-Y'}}</strong></p>
                    </div>
                  </div>
                </div>
              </div>
    
        </div>
        <!-- [ sample-page ] end -->
    </div>
    <!-- [ Main Content ] end -->

{% endblock %}

{% block js %}
{% endblock js %}